<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Blog | New</title>
</head>
<body>
    <form action="/posts" method="POST">
        <input type="text" name="username" required id="inp" placeholder="Enter username">
        <textarea name="content" class="post-content" required rows="6" placeholder="Enter your content here..."></textarea>
        <input type="submit" class="btn" value="Create">
    </form>
</body>
</html>